body {
      margin: 0;
      background-color: #000000;
      font-family: 'Poppins', sans-serif;
      color: white;
    }

.login-container {
      max-width: 400px;
      margin: 80px auto;
      background-color: #1a1a1a;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 10px #37b1e2;
  }

  .login-container h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #37b1e2;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 8px;
      border: none;
      background-color: #333;
      color: white;
  }

  .login-container input[type="submit"] {
      width: 48%;
      padding: 10px;
      margin-top: 15px;
      background-color: #37b1e2;
      border: none;
      color: black;
      font-weight: bold;
      cursor: pointer;
      border-radius: 8px;
  }

  .login-container input[type="submit"]:hover {
      background-color: #289ac5;
  }

  .buttons {
      display: flex;
      justify-content: space-between;
  }